@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}
.container{
    max-width: 1280px;
    margin: 50px auto;
}
header{
    max-width: 100%;
    position: relative;
    .header_nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        z-index: 9;
        color: #fff;
    }
    .logo{
        font-weight: 600;
        font-size: 40px;
        cursor: pointer;
    }
    ul{
        &.nav{
            margin-right: 60px;
            float:right;
            list-style: none;
            li{
                display: inline;
                margin-left: 25px;
                cursor: pointer;
                transition: opacity 500ms ease;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
    .shop-cart-button{
        float: left;
        cursor: pointer;
        transition: color, transform 500ms ease;
        height: 25px;
        width: 25px;
        &:hover, &.active{
            color:#ec4545;
        }
        &.active{
            transform: scale(1.3);
        }
    }
    .shop-cart{
        position: absolute;
        top: 75px;
        right: 0;
        width: 450px;
        padding: 20px;
        background: #eeeded;
        -webkit-box-shadow: 16px 4px 12px 8px rgba(34, 60, 80, 0.13);
        -moz-box-shadow: 16px 4px 12px 8px rgba(34, 60, 80, 0.13);
        box-shadow: 16px 4px 12px 8px rgba(34, 60, 80, 0.13);
        z-index: 9;
        .item_cart{
            width: 100%;
            float: left;
            margin-bottom: 20px;
            img{
                width: 70px;
                float: left;
                margin-right: 20px;
            }
            h3{
                font-size: 20px;
                margin-bottom: 10px;
            }
            p{
                font-weight: 300;
            }
            .item_delete{
                color: #ec4545;
                float: right;
                position: relative;
                width: 30px;
                height: 30px;
                top: -25px;
                cursor: pointer;
                transition: color, transform 500ms ease;
                &:hover{
                    color: #ac2424;
                }
            }
        }
        .sum{
            float: left;
            width: 100%;
            font-size: 20px;
            font-weight: 600;
        }
        .empty{
            h2{
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
    }
}
main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    .item{
        width: 30%;
        margin-bottom: 50px;
        overflow: hidden;
        position: relative;
        padding-bottom: 20px;
        border-radius: 10px 10px 0px 0px;
        transition: background 500ms ease;
        &:hover{
            background: #dddddd;
            img{
                transform: scale(1.01);
            }
        }
        img{
            width: 100%;
            transition: transform 500ms ease;
            border-radius: 10px 10px 0px 0px;
            height: 500px;
            cursor: pointer;
        }
    }
    h3, p, b{
        margin: 10px 20px;
        color: #333;
    }
    .add-to-cart{
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: #e35e00;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        color:#fff;
        cursor: pointer;
        font-weight: 600;
        font-size: 20px;
        transition: transform 500ms ease;
        &:hover{
            transform: scale(1.3);
        }
    }
}
.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 750px;
  
    & .slide-list {
      display: flex;
      height: 100%;
      transition: transform 0.5s ease-in-out;
      width: 100%;
  
      & .slide {
        flex: 1 0 100%;
        position: relative;
        & .slide-image {
          display: flex;
          margin: 0 auto;
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-size: cover;
          background-position: center center;
        }
        &::after {
        }
      }
    }
  }
  
  .arrows {
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    height: 100%;
    top: 30%;
    width: 100%;
    z-index: 1;
  
    & .arrow {
      height: 30px;
      width: 30px;
  
      &:hover {
        cursor: pointer;
      }
  
      &.left {
        background-image: url(../public/img/icons/arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 5px;
        transform: rotate(180deg);
      }
  
      &.right {
        background-image: url(../public/img/icons/arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 5px;
      }
    }
  }
  
  .dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  
    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
      margin: 0 5px;
      cursor: pointer;
      transition: opacity 0.3s ease;
  
      &.selected {
        opacity: 0.7;
      }
    }
  }

.bestsellers_title{
    text-align: center;
    margin: 30px 0px;
}
footer{
    text-align: center;
    padding-top: 10px;
}