@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.wrapper{
    width: 1280px;
    margin: 50px auto;
}
header{
    position: relative;
    .logo{
        font-weight: 600;
        font-size: 40px;
        cursor: pointer;
    }
    .presentation{
        margin: 50px auto;
        background: url('./img/shopClub.jpg') no-repeat;
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply;
        background-color: #6d6d6d;
        position: relative;
        &::after{
            content: "Лучшая одежда для вас";
            position: absolute;
            padding-left: 50px;
            top: 100px;
            left: 0px;
            width: 300px;
            font-size: 40px;
            font-weight: 600;
            color: #fff;
        }
        &::before{
            content: 'По низким ценам';
            position: absolute;
            padding-left: 50px;
            top: 300px;
            left: 0px;
            width: 300px;
            font-size: 20px;
            font-weight: 300;
            color: #fff;
        }
    }
    ul{
        &.nav{
            margin: 20px auto;
            float:right;
            list-style: none;
            li{
                display: inline;
                margin-left: 25px;
                cursor: pointer;
                transition: opacity 500ms ease;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
    .shop-cart-button{
        float: right;
        cursor: pointer;
        transition: color, transform 500ms ease;
        padding-top: 20px;
        height: 25px;
        width: 25px;
        &:hover, &.active{
            color:#ec4545;
        }
        &.active{
            transform: scale(1.3);
        }
    }
    .shop-cart{
        position: absolute;
        top: 75px;
        right: 0;
        width: 450px;
        min-height: 100px;
        background: #eeeded;
        -webkit-box-shadow: 16px 4px 12px 8px rgba(34, 60, 80, 0.13);
        -moz-box-shadow: 16px 4px 12px 8px rgba(34, 60, 80, 0.13);
        box-shadow: 16px 4px 12px 8px rgba(34, 60, 80, 0.13);
        z-index: 9;
    }
}
main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    .item{
        width: 30%;
        margin-bottom: 50px;
        overflow: hidden;
        position: relative;
        padding-bottom: 20px;
        border-radius: 10px 10px 0px 0px;
        transition: background 500ms ease;
        &:hover{
            background: #dddddd;
        }
        img{
            width: 100%;
            transition: transform 500ms ease;
            border-radius: 10px 10px 0px 0px;
            height: 500px;
            &:hover{
                transform: scale(1.03);
            }
        }
    }
    h3, p, b{
        margin: 10px 20px;
        color: #333;
    }
    .add-to-cart{
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: #e35e00;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        color:#fff;
        cursor: pointer;
        font-weight: 600;
        font-size: 20px;
        transition: transform 500ms ease;
        &:hover{
            transform: scale(1.5) translateY(-5px);
        }
    }
}
footer{
    text-align: center;
    padding-top: 10px;
}

.bestsellers_title{
    text-align: center;
    margin: 30px 0px;
}